body{
	font-family: sans-serif;
	color: rgb(31, 30, 30)
  }

  h1, h3, p{
	text-align: center;
	padding: 0px;
	border: 0;
	padding-top: 10px;
  }

  .body-div{
	background-color: rgb(235, 235, 235);
	border-radius: 4px;
	margin: 30px 1px;

  }

  figure{
	background-color: white;
	padding: 20px min(30px);
	margin: 10px 20px;
  }

  #image{
	max-width: 100%;
	width:100%;
	display: block;
	height: auto;
	margin: 0 auto;
	object-fit: cover
  }

  figcaption{
	text-align: center;
	margin: 10px 0 -10px 0;
  }

  .bold{
	font-weight: bold
  }

  ul{
	display: block;
	max-width: 550px;
	margin: 0 auto 50px auto;

  }

  li{
	margin-bottom: 30px;
	text-align: left;
  }

  .left{
	text-align: left;
	display: block;
	max-width: 550px;
	margin: 0 auto 50px auto;
	padding-bottom: 30px
  }